Repository foretold-app/foretold, pull requests merged in 2019-12, with the labels that each got.

#893 Fixes empty names of channels
  packages/client/graphql_schema.json
  packages/client/src/E.re
  packages/client/src/graphql/FeedItemsGet.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/channels/ChannelCreate.re
  packages/client/src/graphql/channels/ChannelGet.re
  packages/client/src/graphql/channels/ChannelUpdate.re
  packages/client/src/graphql/channels/ChannelsGet.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/series/SeriesCollectionGet.re
  packages/client/src/pages/channels/ChannelEdit.re
  packages/client/src/pages/channels/ChannelNew.re
  packages/server/src/graphql/types/channels.js
  packages/server/src/graphql/types/scalars/index.js
  packages/server/src/graphql/types/scalars/limited-string.js
Labels: packages/client, packages/server

#895 Fixes issue with var renaming
  packages/server/src/graphql/authorizers/availability.js
Labels: 🕷bug

#902 Fixes notebook body limits
  packages/server/src/graphql/types/notebooks.js
  packages/server/src/models/channel.js
  packages/server/src/models/measurable.js
  packages/server/src/models/notebook.js
  packages/server/src/models/series.js
Labels: 🕷bug

#904 This copies "createdAt" to "relevantAt" column
  package.json
  packages/server/migrations/js/201907100048003-notifications.js
  packages/server/migrations/js/201907100048005-template-measurable-state.js
  packages/server/migrations/js/201907110048001-template-measurable-state-upd.js
  packages/server/migrations/js/201907150048001-tokens-columns.js
  packages/server/migrations/js/201907220048001-template-measurable-resolved.js
  packages/server/migrations/js/201907290048001-template-added-to-community.js
  packages/server/migrations/js/201908021430000-channel-membership-method-created-by.js
  packages/server/migrations/js/201908021535001-template-joined-to-community.js
  packages/server/migrations/js/201908051414001-templates.js
  packages/server/migrations/js/201908081507001-agent-notifications-attempts.js
  packages/server/migrations/js/201909301312000-table-invitations.js
  packages/server/migrations/js/201909301434000-agent-notifications-constrains.js
  packages/server/migrations/js/201912030849000-measurements-relevant-at.js
  packages/server/migrations/js/201912060859000-measurements-copy-columns.js
Labels: 🕷bug

#906 Truncates community descriptions
  packages/client/src/components/ChannelTable.re
  packages/client/src/components/channels/ChannelDescription.re
  packages/client/src/components/channels/Curated.re
  packages/client/src/components/channels/IsArchived.re
  packages/client/src/lib/MarkdownEditorActions.re
  packages/client/src/pages/channels/ChannelIndex.re
  packages/client/src/utils/Utils.re
Labels: packages/client

#908 Removes "Exact Value" and "Distribution" options
  packages/client/src/components/BotForm.re
  packages/client/src/components/CdfInput.re
  packages/client/src/components/MutationForm.re
  packages/client/src/components/SeriesForm.re
  packages/client/src/components/channels/ChannelForm.re
  packages/client/src/components/channels/ChannelTable.re
  packages/client/src/components/channels/ChannelTabs.re
  packages/client/src/components/dashboard-table/Dashboard.re
  packages/client/src/components/dashboard-table/DashboardTable.re
  packages/client/src/components/dashboard-table/DashboardTableC.re
  packages/client/src/components/dashboard-table/DashboardTableEditor.re
  packages/client/src/components/measurables/MeasurableEntityLinks.re
  packages/client/src/components/measurables/MeasurableForm.re
  packages/client/src/components/measurables/MeasurableIndexTable.re
  packages/client/src/components/measurables/MeasurableItems.re
  packages/client/src/components/measurables/MeasurablesSeriesTable.re
  packages/client/src/components/measurements/MeasurementForm.re
  packages/client/src/components/measurements/MeasurementItems.re
  packages/client/src/components/measurements/MeasurementValue.re
  packages/client/src/components/measurements/Measurements.re
  packages/client/src/components/measurements/MeasurementsTable.re
  packages/client/src/components/notebooks/NotebookForm.re
  packages/client/src/components/notebooks/NotebookMarkdown.re
  packages/client/src/components/notebooks/NotebookRedux.re
  packages/client/src/components/notebooks/NotebookSidebar.re
  packages/client/src/lib/GuesstimateInput.js
  packages/client/src/lib/GuesstimateInput.re
  packages/client/src/lib/cdf-chart/CdfChart.re
  packages/client/src/lib/cdf-chart/LargeCdfChart.re
  packages/client/src/lib/cdf-chart/SmallCdfChart.re
  packages/client/src/pages/bots/BotCreate.re
  packages/client/src/pages/bots/BotEdit.re
  packages/client/src/pages/channels/ChannelEdit.re
  packages/client/src/pages/measurables/Measurable.re
  packages/client/src/pages/series/SeriesNew.re
  packages/components/src/Charts/cdfChartd3.js
  packages/guesstimator/dist/index.js
  packages/guesstimator/src/Guesstimator.js
  packages/guesstimator/src/Guesstimator.spec.js
  packages/guesstimator/src/index.js
  packages/guesstimator/src/index.spec.js
  packages/guesstimator/src/types.js
Labels: packages/client

#910 Update cdfChartd3.js
  packages/components/src/Charts/cdfChartd3.js
Labels: packages/client

#912 Adds "react-apollo"
  packages/client/package.json
  packages/client/yarn.lock
Labels: 🕷bug

#914 Shows percentages
  packages/client/src/components/dashboard-table/DashboardTableC.re
  packages/client/src/components/measurements/MeasurementItems.re
  packages/server/src/data/classes/params.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/types.d.ts
Labels: 🕷bug

#915 Fixes measurement form bugs
  packages/client/src/components/CdfInput.re
  packages/client/src/lib/cdf-chart/CdfChart.re
  packages/client/src/lib/cdf-chart/LargeCdfChart.re
  packages/client/src/lib/cdf-chart/SmallCdfChart.re
  packages/components/src/Charts/FC__CdfChart__Small.re
Labels: packages/client, 🕷bug

#920 Clears markdown from spaces before and after
  packages/client/src/components/CdfInput.re
  packages/client/src/components/channels/ChannelDescription.re
  packages/client/src/components/measurables/MeasurableItems.re
  packages/client/src/components/measurements/MeasurementsTable.re
  packages/client/src/components/notebooks/NotebookMarkdown.re
  packages/client/src/lib/Markdown.re
  packages/client/src/pages/channels/Channel.re
  packages/client/src/pages/statics/StaticPageInCard.re
  packages/components/src/Charts/cdfChartd3.js
Labels: packages/client, 🕷bug

#921 Feature/916
  packages/client/src/components/channels/ChannelTabs.re
  packages/client/src/components/notebooks/NotebookForm.re
  packages/client/src/components/notebooks/NotebooksTable.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Routing.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/notebooks/NotebookGet.re
  packages/client/src/graphql/notebooks/NotebooksGet.re
  packages/client/src/pages/FeedItems.re
  packages/client/src/pages/notebooks/Notebooks.re
Labels: packages/client

#922 Adds a filter into notebooks query
  packages/server/src/data/classes/structures.js
  packages/server/src/graphql/authorizers/predicates.js
  packages/server/src/graphql/resolvers/agent-measurables.js
  packages/server/src/graphql/resolvers/authentications.js
  packages/server/src/graphql/resolvers/feed-items.js
  packages/server/src/graphql/resolvers/measurables.js
  packages/server/src/graphql/resolvers/notebooks.js
  packages/server/src/types.d.ts
Labels: 🕷bug

#925 Adds logger
  packages/server/src/sync/github/app.js
  packages/server/src/sync/github/git-hub-api.js
  packages/server/src/sync/github/trigger.js
Labels: packages/server

#923 Moves a measurable form into a tab
  packages/client/src/Lang.re
  packages/client/src/components/KenTools.re
  packages/client/src/components/MeasurableEdit.re
  packages/client/src/components/StaticPageInCard.re
  packages/client/src/components/StaticStyles.re
  packages/client/src/components/agents/AgentLink.re
  packages/client/src/components/agents/AgentTabs.re
  packages/client/src/components/dashboard-table/DashboardTable.re
  packages/client/src/components/forms/BotForm.re
  packages/client/src/components/forms/CdfInput.re
  packages/client/src/components/forms/SeriesForm.re
  packages/client/src/components/measurables/MeasurableBottomSection.re
  packages/client/src/components/measurables/MeasurableForm.re
  packages/client/src/components/measurables/MeasurableIndexTable.re
  packages/client/src/components/measurables/MeasurableItems.re
  packages/client/src/components/notebooks/NotebookRedux.re
  packages/client/src/components/notebooks/NotebookSidebar.re
  packages/client/src/components/shared/Error.re
  packages/client/src/components/shared/NothingToShow.re
  packages/client/src/components/shared/Spin.re
  packages/client/src/contexts/Routing.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/lib/PaginationFunctor.re
  packages/client/src/pages/FeedItemsIndex.re
  packages/client/src/pages/Navigator.re
  packages/client/src/pages/ProfileEdit.re
  packages/client/src/pages/agents/AgentMeasurables.re
  packages/client/src/pages/agents/AgentNavigation.re
  packages/client/src/pages/channels/ChannelMeasurable.re
  packages/client/src/pages/channels/ChannelNavigation.re
  packages/client/src/pages/measurables/Measurable.re
  packages/client/src/pages/measurables/MeasurableBottomSection.re
  packages/client/src/pages/measurables/MeasurableEdit.re
  packages/client/src/pages/measurables/MeasurableIndex.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/measurables/MeasurableIndex__Logic.re
  packages/client/src/pages/measurables/MeasurablePage.re
  packages/client/src/pages/notebooks/NotebookPage.re
  packages/client/src/pages/series/SeriesPage.re
  packages/server/src/graphql/authorizers/availability.js
  packages/server/src/graphql/authorizers/bots.js
  packages/server/src/graphql/authorizers/channel-memberships.js
  packages/server/src/graphql/authorizers/measurables.js
  packages/server/src/graphql/authorizers/permissions.js
  packages/server/src/graphql/middlewares/channel-memberships.js
  packages/server/src/graphql/middlewares/channels.js
  packages/server/src/graphql/middlewares/index.js
  packages/server/src/graphql/middlewares/measurables.js
  packages/server/src/graphql/middlewares/measurements.js
  packages/server/src/graphql/resolvers/permissions.js
  packages/server/src/graphql/types/channels.js
Labels: packages/client

#924 Improvements/746
  packages/client/src/components/FillWithSidebar.re
  packages/client/src/components/Footer.re
  packages/client/src/components/Header.re
  packages/client/src/components/SLayout.re
  packages/client/src/components/Sidebar.re
  packages/client/src/components/measurables/MeasurableEdit.re
  packages/client/src/contexts/Lang.re
  packages/client/src/contexts/Providers.re
  packages/client/src/lib/Auth0Client.re
  packages/client/src/lib/Jwt.re
  packages/client/src/lib/KenTools.re
  packages/client/src/lib/KeyValuePairs.re
  packages/client/src/lib/antd-components/AntdAlert.re
  packages/client/src/lib/antd-components/AntdDropdown.js
  packages/client/src/lib/antd-components/AntdDropdown.re
  packages/client/src/lib/antd-components/AntdForm.re
  packages/client/src/lib/antd-components/AntdInput.re
  packages/client/src/lib/antd-components/AntdPopover.re
  packages/client/src/lib/antd-components/AntdSwitch.re
  packages/client/src/lib/antd-components/DatePicker.re
  packages/client/src/lib/antd-components/Form.re
  packages/client/src/lib/antd-components/InputNumber.re
  packages/client/src/lib/antd-components/Slider.re
  packages/client/src/pages/Routing.re
  packages/client/src/utils/AppApolloClient.re
  packages/client/src/utils/AppApolloClient.rei
  packages/client/src/utils/E.re
  packages/client/src/utils/HttpResponse.re
Labels: packages/client

#932 Improvements/926
  packages/client/package.json
  packages/client/src/components/FeedItemsTable.re
  packages/client/src/components/Header.re
  packages/client/src/components/LeaderboardTable.re
  packages/client/src/components/SLayout.re
  packages/client/src/components/SeriesCard.re
  packages/client/src/components/SimpleHeader.re
  packages/client/src/components/Table.re
  packages/client/src/components/VerificationWarning.re
  packages/client/src/components/agents/AgentLink.re
  packages/client/src/components/agents/AgentTabs.re
  packages/client/src/components/channels/ChannelTable.re
  packages/client/src/components/channels/ChannelTabs.re
  packages/client/src/components/measurables/MeasurableBottomSection.re
  packages/client/src/components/measurables/MeasurableIndexTable.re
  packages/client/src/components/measurables/MeasurableItems.re
  packages/client/src/components/measurables/MeasurablesSeriesTable.re
  packages/client/src/components/measurements/MeasurementsTable.re
  packages/client/src/components/notebooks/NotebookMarkdown.re
  packages/client/src/components/notebooks/NotebookSidebar.re
  packages/client/src/contexts/Lang.re
  packages/client/src/contexts/Primary.re
  packages/client/src/lib/CopyToClipboard.re
  packages/client/src/lib/Icon.js
  packages/client/src/lib/Icon.re
  packages/client/src/lib/PaginationFunctor.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/measurables/MeasurableIndex__Logic.re
  packages/client/src/pages/measurables/MeasurablePage.re
  packages/client/src/pages/notebooks/Notebooks.re
  packages/client/src/pages/series/SeriesPage.re
  packages/client/src/utils/ApolloUtils.re
  packages/client/yarn.lock
Labels: packages/client

#934 Fixes the issue
  packages/client/src/contexts/Primary.re
  packages/client/src/graphql/measurables/MeasurableGet.re
Labels: packages/client, 🕷bug

#935 Fixes indexes of notebooks
  packages/client/src/components/channels/ChannelForm.re
  packages/client/src/components/forms/BotForm.re
  packages/client/src/components/forms/SeriesForm.re
  packages/client/src/components/measurables/MeasurableForm.re
  packages/client/src/components/notebooks/NotebookForm.re
  packages/client/src/components/shared/Sorry.re
  packages/client/src/contexts/Lang.re
  packages/client/src/lib/Icon.js
  packages/client/src/pages/ProfileEdit.re
  packages/client/src/pages/channels/ChannelInviteMember.re
  packages/client/src/pages/preferences/Preferences.re
  packages/client/src/pages/preferences/SubscribePage.re
  packages/client/src/pages/preferences/UnsubscribePage.re
  packages/server/migrations/js/201912230755000-notebooks-index.js
Labels: packages/client, packages/server, 🕷bug

#936 Refactoring/933
  packages/client/src/components/FeedItemsTable.re
  packages/client/src/components/Header.re
  packages/client/src/components/LeaderboardTable.re
  packages/client/src/components/SLayout.re
  packages/client/src/components/SimpleHeader.re
  packages/client/src/components/StaticStyles.re
  packages/client/src/components/StatusDisplay.re
  packages/client/src/components/Table.re
  packages/client/src/components/agents/AgentTabs.re
  packages/client/src/components/channels/ChannelTable.re
  packages/client/src/components/channels/ChannelTabs.re
  packages/client/src/components/dashboard-table/DashboardTableC.re
  packages/client/src/components/dashboard-table/DashboardTableEditor.re
  packages/client/src/components/forms/SeriesForm.re
  packages/client/src/components/measurables/MeasurableItems.re
  packages/client/src/components/measurements/MeasurementItems.re
  packages/client/src/components/measurements/Measurements.re
  packages/client/src/components/measurements/MeasurementsTable.re
  packages/client/src/components/notebooks/NotebookMarkdown.re
  packages/client/src/components/notebooks/NotebooksTable.re
  packages/client/src/lib/PaginationFunctor.re
  packages/client/src/pages/ProfileEdit.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/agents/AgentNavigation.re
  packages/client/src/pages/bots/BotCreate.re
  packages/client/src/pages/bots/BotEdit.re
  packages/client/src/pages/channels/Channel.re
  packages/client/src/pages/channels/ChannelAddMember.re
  packages/client/src/pages/channels/ChannelIndex.re
  packages/client/src/pages/channels/ChannelInviteMember.re
  packages/client/src/pages/channels/ChannelMembers.re
  packages/client/src/pages/channels/ChannelNew.re
  packages/client/src/pages/entities/EntityIndex.re
  packages/client/src/pages/entities/EntityShow.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/measurables/MeasurableNew.re
  packages/client/src/pages/notebooks/NotebookCreate.re
  packages/client/src/pages/notebooks/Notebooks.re
  packages/client/src/pages/preferences/Preferences.re
  packages/client/src/pages/preferences/SubscribePage.re
  packages/client/src/pages/preferences/UnsubscribePage.re
  packages/client/src/pages/series/SeriesNew.re
  packages/client/src/utils/ApolloUtils.re
  packages/client/src/utils/E.re
Labels: packages/client

#943 Improvements/899
  packages/client/graphql_schema.json
  packages/client/src/components/forms/CdfInput.re
  packages/client/src/components/measurements/MeasurementForm.re
  packages/client/src/components/notebooks/NotebookSidebar.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/client/src/pages/measurables/MeasurablePage.re
  packages/client/src/utils/E.re
  packages/server/src/graphql/authorizers/availability.js
  packages/server/src/graphql/authorizers/permissions.js
  packages/server/src/graphql/middlewares/index.js
  packages/server/src/graphql/middlewares/measurements.js
  packages/server/src/graphql/schema.js
  packages/server/src/graphql/types/common.js
  packages/server/src/graphql/types/enums/mutations.js
  packages/server/src/graphql/types/enums/mutations.spec.js
  packages/server/src/graphql/types/enums/queries.js
  packages/server/src/graphql/types/enums/queries.spec.js
  packages/server/src/graphql/types/permissions.js
  packages/server/src/graphql/types/scalars/index.js
  packages/server/src/graphql/types/scalars/object-id.js
Labels: packages/client

#944 Improvements/937
  packages/client/src/components/measurables/MeasurableForm.re
  packages/client/src/contexts/Primary.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/measurables/MeasurableGet.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/server/migrations/js/201912230755000-notebooks-index.js
  packages/server/migrations/js/201912241629000-measurables-name.js
  packages/server/src/graphql/types/measurables.js
Labels: packages/client

#945 Reduces a notebook sidebar space
  packages/client/graphql_schema.json
  packages/client/src/components/SLayout.re
  packages/client/src/components/StaticPageInCard.re
  packages/client/src/components/dashboard-table/Dashboard.re
  packages/client/src/components/dashboard-table/DashboardTable.re
  packages/client/src/components/dashboard-table/DashboardTableC.re
  packages/client/src/components/dashboard-table/DashboardTableEditor.re
  packages/client/src/components/measurables/MeasurableBottomSection.re
  packages/client/src/components/measurements/Measurements.re
  packages/client/src/components/notebooks/NotebookSidebar.re
  packages/client/src/pages/FeedItemsIndex.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/agents/AgentCommunities.re
  packages/client/src/pages/agents/AgentMeasurables.re
  packages/client/src/pages/channels/ChannelIndex.re
  packages/client/src/pages/channels/ChannelMeasurable.re
  packages/client/src/pages/leaderboards/LeaderboardMeasurables.re
  packages/client/src/pages/leaderboards/LeaderboardMembers.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/notebooks/NotebookCreate.re
  packages/client/src/pages/notebooks/NotebookPage.re
  packages/client/src/pages/statics/AccessDeniedPage.re
  packages/client/src/pages/statics/NotFoundPage.re
  packages/client/src/utils/HttpResponse.re
Labels: packages/client

#947 Fixes context creation
  packages/server/src/graphql/middlewares/index.js
Labels: packages/client, 🕷bug

#949 URL
  packages/client/src/App.re
  packages/client/src/components/measurements/Measurements.re
  packages/client/src/contexts/Lang.re
  packages/client/src/lib/Icon.js
  packages/client/src/lib/PaginationFunctor.re
  packages/client/src/pages/FeedItemsIndex.re
  packages/client/src/pages/Navigator.re
  packages/client/src/pages/Routing.re
  packages/client/src/pages/agents/AgentMeasurables.re
  packages/client/src/pages/channels/ChannelMembers.re
  packages/client/src/pages/channels/ChannelNavigation.re
  packages/client/src/pages/leaderboards/LeaderboardMeasurables.re
  packages/client/src/pages/leaderboards/LeaderboardMembers.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/measurables/MeasurableIndex__Logic.re
  packages/client/src/pages/measurables/MeasurablePage.re
  packages/client/src/pages/notebooks/Notebooks.re
  packages/client/src/pages/series/SeriesPage.re
  packages/client/src/pages/statics/NotFoundPage.re
Labels: packages/client

#954 Improvements/953
  packages/client/src/lib/History.re
  packages/client/src/lib/history.js
  packages/client/src/pages/Navigator.re
  packages/client/src/pages/measurables/MeasurableIndex__Logic.re
Labels: 🕷bug
