Repository foretold-app/foretold, pull requests merged in 2019-09, with the labels that each got.

#616 Simple Measurement Scoring
  .dockerignore
  .travis.yml
  package.json
  packages/bots/bots/aggregation.js
  packages/bots/package.json
  packages/cdf/index.js
  packages/cdf/lib/cdf.js
  packages/cdf/lib/cdf.spec.js
  packages/cdf/lib/cdfFunction.js
  packages/cdf/lib/cdfFunction.spec.js
  packages/cdf/lib/continuousDistribution.js
  packages/cdf/lib/continuousDistribution.spec.js
  packages/cdf/lib/continuousDistributionCombination.js
  packages/cdf/lib/continuousDistributionCombination.spec.js
  packages/cdf/lib/dataAnalysis.js
  packages/cdf/lib/functions.js
  packages/cdf/lib/functions.spec.js
  packages/cdf/lib/pdf.js
  packages/cdf/lib/samples.js
  packages/cdf/lib/samples.spec.js
  packages/cdf/lib/scoring.js
  packages/cdf/lib/scoring.spec.js
  packages/cdf/package.json
  packages/client/package.json
  packages/client/src/E.re
  packages/components/example/Example/ExampleFullPage.re
  packages/components/example/Example/Example__CardMeasurableMeasurements.re
  packages/components/example/Example/Example__MeasurableIndexPage.re
  packages/components/example/Example/Example__MeasurableTopCard.re
  packages/components/example/Example/Example__MemberTableCard.re
  packages/components/package.json
  packages/components/showcase/Entries.re
  packages/components/showcase/Lib.re
  packages/components/showcase/entries/Scoring.re
  packages/components/src/Base/FC__E.re
  packages/components/src/Base/FC__Types.re
  packages/components/src/Base/stats.js
  packages/components/src/Charts/FC__CdfChart__Large.re
  packages/components/src/Charts/cdfChartd3.js
  packages/components/src/FC__MeasurableForm.re
  packages/components/src/GuesstimateInput/FC_GuesstimateInput.re
  packages/components/src/GuesstimateInput/GuesstimateInput.js
  packages/components/yarn.lock
  packages/server/package.json
  packages/server/src/resolvers/measurements.js
Labels: packages/client, packages/components, packages/server

#627 Feature/626
  packages/components/example/index.html
  packages/components/showcase/index.html
  packages/server/src/data/agent-measurables-data.js
  packages/server/src/data/classes/params.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/measurements-data.js
  packages/server/src/models-abstract/agent-measurable-model.js
  packages/server/src/models-abstract/measurement-model.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/models-abstract/model.js
  packages/server/src/models/measurable.js
  packages/server/src/resolvers/agent-measurables.js
  packages/server/src/schema.js
  packages/server/src/types.d.ts
  packages/server/src/types/agent-channels.js
  packages/server/src/types/agent-channels.spec.js
  packages/server/src/types/agent-measurables.js
  packages/server/src/types/agent-measurables.spec.js
  packages/server/src/types/agents.js
  packages/server/src/types/agents.spec.js
  packages/server/src/types/authentications.js
  packages/server/src/types/authentications.spec.js
  packages/server/src/types/bots.spec.js
  packages/server/src/types/channel-memberhips.js
  packages/server/src/types/channel-memberhips.spec.js
  packages/server/src/types/channels.js
  packages/server/src/types/channels.spec.js
  packages/server/src/types/common.js
  packages/server/src/types/enums/measurement-competitor-type.js
  packages/server/src/types/enums/measurement-competitor-type.spec.js
  packages/server/src/types/mutations.js
  packages/server/src/types/mutations.spec.js
  packages/server/src/types/permissions.js
  packages/server/src/types/queries.js
  packages/server/src/types/queries.spec.js
  packages/server/src/types/stats.js
  packages/server/src/types/stats.spec.js
Labels: packages/server

#630 Fixes/619
  packages/server/src/data/measurements-data.js
  packages/server/src/models-abstract/measurement-model.js
  packages/server/src/resolvers/measurements.js
  packages/server/src/types/measurables.js
Labels: packages/server

#638 Adds new field "nonMarketLogScore"
  packages/client/graphql_schema.json
  packages/server/src/types/measurements.js
Labels: packages/server

#640 Adds validation for measurementValue and measurementValueType
  packages/server/src/lang.js
  packages/server/src/middlewares/index.js
  packages/server/src/middlewares/measurements.js
Labels: packages/server

#652 Adds redirecting after new channel
  packages/client/src/graphql/bots/BotsGet.re
  packages/client/src/graphql/channels/ChannelMembershipRoleUpdate.re
  packages/client/src/graphql/channels/ChannelMembershipsGet.re
  packages/client/src/graphql/measurables/MeasurableArchive.re
  packages/client/src/graphql/measurables/MeasurableCreate.re
  packages/client/src/graphql/measurables/MeasurableUnarchive.re
  packages/client/src/graphql/measurables/MeasurableUpdate.re
  packages/client/src/pages/channels/ChannelNew.re
  packages/client/src/pages/measurables/MeasurableEdit.re
  packages/client/src/pages/measurables/MeasurableNew.re
Labels: packages/client

#655 Improvements/461 1
  packages/server/src/async/listeners.js
  packages/server/src/async/measurables/reducer.js
  packages/server/src/data/measurables-data.js
  packages/server/src/models-abstract/measurable-model.js
  packages/server/src/models-abstract/measurement-model.js
  packages/server/src/models/measurable.js
  packages/server/src/types.d.ts
Labels: packages/server

#656 Improvements/19 2
  packages/server/src/data/users-data.js
  packages/server/src/graphql/resolvers/users.js
  packages/server/src/graphql/resolvers/users.spec.js
Labels: packages/server

#654 Feature/433
  packages/client/graphql_schema.json
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/channels/ChannelsGet.re
  packages/client/src/graphql/measurables/MeasurableGet.re
  packages/client/src/graphql/measurables/MeasurableUpdate.re
  packages/client/src/layout/Sidebar.re
  packages/client/src/pages/measurables/MeasurableEdit.re
  packages/client/src/pages/measurables/MeasurableForm.re
  packages/client/src/pages/measurables/MeasurableNew.re
  packages/server/src/graphql/types/measurables.js
Labels: packages/client, packages/server

#670 Improvements/663
  packages/server/src/async/index.js
  packages/server/src/async/jobs.js
  packages/server/src/async/listeners.js
  packages/server/src/async/schedule.js
  packages/server/src/async/schedule.spec.js
  packages/server/src/index.js
  packages/server/src/models-abstract/measurable-model.js
Labels: packages/server

#671 Fixes travis
  packages/prediction-analysis/src/MeasureStrategies/LogError.gen.js
  packages/server/src/__mocks__/prediction-analysis.js
  packages/server/src/jest-globals.js
Labels: bug

#690 Feauture/685
  packages/client/graphql_schema.json
  packages/client/src/components/ChannelTable.re
  packages/client/src/components/FeedItemsTable.re
  packages/client/src/components/LeaderboardTable.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Routing.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/layout/Navigator.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/agents/AgentMeasurables.re
  packages/client/src/pages/agents/AgentScores.re
  packages/client/src/pages/agents/AgentTabs.re
  packages/client/src/pages/agents/Agent_Layout.re
  packages/client/src/pages/agents/Agent_Layout_C.re
  packages/client/src/pages/channels/ChannelAddMember.re
  packages/client/src/pages/channels/ChannelMembers.re
  packages/client/src/pages/entities/EntityIndex.re
  packages/client/src/pages/leaderboards/LeaderboardMembers.re
  packages/server/src/graphql/resolvers/agent-channels.js
  packages/server/src/graphql/schema.js
Labels: packages/client, packages/server

#699 Fixes/620 2
  package.json
  packages/client/src/AppApolloClient.re
  packages/components/yarn.lock
  packages/guesstimator/.gitignore
  packages/guesstimator/package.json
  packages/prediction-analysis/yarn.lock
  packages/server/package.json
  packages/server/src/authentication.js
  packages/server/yarn.lock
Labels: packages/client

#700 Improvements/683
  packages/client/src/pages/measurables/MeasurableForm.re
Labels: packages/client

#705 Feature/684 2
  packages/prediction-analysis/dist/index.js
  packages/prediction-analysis/package.json
  packages/server/migrations/201908261454000-view-agent-measurables.js
  packages/server/migrations/201908271454000-view-agent-channels.js
  packages/server/migrations/201909251454000-view-channel-agents.js
  packages/server/migrations/201909251455000-view-agent-measurables.js
  packages/server/migrations/201909251456000-view-agent-channels.js
Labels: packages/server

#709 Fixes link on Bots pages
  packages/client/src/pages/agents/AgentBots.re
Labels: packages/client
