Repository foretold-app/foretold, pull requests merged in 2019-07, with the labels that each got.

#330 Dev/307&309&percentages
  packages/client/src/FC/FC__Table.re
  packages/client/src/components/Foretold__Components__Measurements__Table.re
  packages/client/src/components/Table.re
  packages/client/src/graphql/Foretold__GraphQL__MeasurementsGet.re
  packages/client/src/pages/Agent/AgentBots.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/client/src/pages/Channel/ChannelInvite.re
  packages/client/src/pages/Channel/ChannelMembers.re
  packages/client/src/pages/Entity/EntityIndex.re
Labels: packages/client

#331 Improvements/316
  packages/client/src/components/Foretold__Components__Measurements__Table.re
  packages/client/src/components/SLayout.re
  packages/client/src/contexts/Context__Primary.re
  packages/client/src/pages/Channel/ChannelInvite.re
Labels: bug

#334 Feature/310
  packages/bots/api/api.js
  packages/bots/api/queries.js
  packages/bots/bots/aggregation-bot.js
  packages/bots/bots/aggregation.js
  packages/server/src/middlewares/measurements.js
  packages/server/src/models/measurement.js
Labels: packages/server

#335 Feature/318
  packages/client/src/components/MutationForm.re
  packages/client/src/pages/Bots/BotCreate.re
  packages/client/src/pages/Bots/BotEdit.re
  packages/client/src/pages/Measurable/MeasurableEdit.re
  packages/client/src/pages/Measurable/MeasurableNew.re
Labels: packages/client

#336 Feature/319
  packages/client/src/components/Foretold__Components__Measurable__Items.re
  packages/client/src/components/Foretold__Components__Measurables.re
  packages/client/src/contexts/Context__Primary.re
  packages/client/src/contexts/Context__Routing.re
  packages/client/src/graphql/Foretold__GraphQL__GetMeasurables.re
Labels: packages/client

#337 Features/324
  packages/client/graphql_schema.json
  packages/client/src/contexts/Context__Primary.re
  packages/client/src/graphql/Foretold__GraphQL__ChannelsGet.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/server/migrations/201907020948000-is-curated-column.js
  packages/server/src/models/channel.js
  packages/server/src/types/channels.js
Labels: packages/client, packages/server

#356 Feature/344
  packages/server/migrations/201907040948000-extends-value-type.js
  packages/server/src/middlewares/measurements.js
  packages/server/src/models/enums/measurable-value-type.js
  packages/server/src/models/enums/measurement-value.js
  packages/server/src/models/enums/unresolvable-resolutions.js
  packages/server/src/models/measurable.js
  packages/server/src/types/measurements.js
Labels: packages/server

#357 [Unresolved] Inputs
  packages/client/graphql_schema.json
  packages/client/src/components/MeasurementValue.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__CreateMeasurementMutation.re
  packages/client/src/graphql/Foretold__GraphQL__MeasurementsGet.re
  packages/client/src/lib/cdfInput/CdfInput.re
  packages/client/src/pages/Measurable/MeasurableForm.re
  packages/server/migrations/201907040948000-extends-competitor-type.js
  packages/server/src/models/enums/measurable-value-type.js
  packages/server/src/models/enums/measurement-competitor-type.js
  packages/server/src/schema.js
  packages/server/src/types/bots.js
  packages/server/src/types/filterr.js
  packages/server/src/types/index.js
  packages/server/src/types/measurable-value-type.js
  packages/server/src/types/measurement-competitor-type.js
  packages/server/src/types/measurement-competitor-type.spec.js
  packages/server/src/types/measurements.js
Labels: packages/client, packages/server

#358 [Unresolved] Feature/346
  packages/client/src/components/Foretold__Components__Measurements__Table.re
  packages/client/src/components/MeasurementValue.re
  packages/client/src/components/Table.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/layout/Pages.re
  packages/client/src/pages/Agent/AgentMeasurements.re
  packages/client/src/pages/Series/SeriesShow.re
Labels: packages/client

#360 [Comments] Feature/350
  packages/client/graphql_schema.json
  packages/client/src/components/MeasurementValue.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__MeasurementsGet.re
  packages/server/migrations/201907050948000-extends-competitor-type.js
  packages/server/src/middlewares/bots.spec.js
  packages/server/src/middlewares/connections.spec.js
  packages/server/src/middlewares/measurements.js
  packages/server/src/middlewares/measurements.spec.js
  packages/server/src/models/enums/measurement-comment-type.js
  packages/server/src/models/enums/measurement-competitor-type.js
  packages/server/src/models/enums/measurement-unresolvable-resolutions.js
  packages/server/src/models/enums/measurement-value.js
  packages/server/src/models/measurement.js
  packages/server/src/types/bots.js
  packages/server/src/types/enums/measurable-value-type.js
  packages/server/src/types/enums/measurable-value-type.spec.js
  packages/server/src/types/enums/measurement-comment-type.js
  packages/server/src/types/enums/measurement-comment-type.spec.js
  packages/server/src/types/enums/measurement-competitor-type.js
  packages/server/src/types/enums/measurement-competitor-type.spec.js
  packages/server/src/types/enums/measurement-unresolvable-resolution.js
  packages/server/src/types/enums/measurement-unresolvable-resolution.spec.js
  packages/server/src/types/filterr.js
  packages/server/src/types/index.js
  packages/server/src/types/measurables.js
  packages/server/src/types/measurements.js
Labels: packages/client, packages/server

#364 Feaure/325
  packages/client/graphql_schema.json
  packages/client/src/contexts/Context__Auth.re
  packages/client/src/graphql/Foretold__GraphQL__Authentication.re
  packages/server/migrations/20180906011937-FirstMigration.js
  packages/server/migrations/20181116204144-AddJudgementEndpoint.js
  packages/server/migrations/20181117155015-AddDescriptionToMeasurement.js
  packages/server/migrations/20190125152728-AddIsArchivedToMeasurable.js
  packages/server/migrations/20190224120626-addEntityToMeasurable.js
  packages/server/migrations/20190227201511-addChannelStringToMeasurables.js
  packages/server/migrations/20190301113321-addDescriptionPropertyToMeasurables.js
  packages/server/migrations/20190302200153-addSeriesTables.js
  packages/server/migrations/20190318001102-addServiceAccount.js
  packages/server/migrations/20190318001122-addChannelId.js
  packages/server/migrations/201907050948001-alter-users-table.js
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/authentication.js
  packages/server/src/config.js
  packages/server/src/data/authentication-data.js
  packages/server/src/data/users-data.js
  packages/server/src/jest-globals.js
  packages/server/src/lib/adminBotManager.js
  packages/server/src/lib/auth0.js
  packages/server/src/lib/jwt.js
  packages/server/src/models/user.js
  packages/server/src/resolvers/authentications.js
  packages/server/src/schema.js
  packages/server/src/types.d.ts
  packages/server/yarn.lock
Labels: packages/client, packages/server

#365 Feature/323
  packages/client/graphql_schema.json
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/pages/Profile.re
  packages/server/src/authorizers/permissions.js
  packages/server/src/authorizers/users.js
  packages/server/src/middlewares/index.js
  packages/server/src/resolvers/users.js
  packages/server/src/schema.js
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#371 Impromvent/368
  packages/client/graphql_schema.json
  packages/client/src/contexts/Context__Auth.re
  packages/server/migrations/201907090948000-picture-type.js
  packages/server/src/data/authentication-data.js
  packages/server/src/data/bots-data.js
  packages/server/src/data/channels-data.js
  packages/server/src/data/data-base.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/measurements-data.js
  packages/server/src/data/series-data.js
  packages/server/src/data/tokens-data.js
  packages/server/src/data/users-data.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/models-abstract/model.js
  packages/server/src/models/user.js
  packages/server/src/resolvers/preferences.js
  packages/server/src/types.d.ts
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#372 Feature/369
  packages/client/graphql_schema.json
  packages/server/migrations/201907090948001-email-verifies-column.js
  packages/server/src/data/users-data.js
  packages/server/src/models/user.js
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#373 Feature/367
  packages/client/graphql_schema.json
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/pages/Profile.re
  packages/server/src/authorizers/agents.js
  packages/server/src/authorizers/bots.js
  packages/server/src/authorizers/channel-memberships.js
  packages/server/src/authorizers/channels.js
  packages/server/src/authorizers/measurables.js
  packages/server/src/authorizers/permissions.js
  packages/server/src/authorizers/users.js
  packages/server/src/middlewares/index.js
  packages/server/src/middlewares/users.js
  packages/server/src/middlewares/users.spec.js
  packages/server/src/models/measurable.js
  packages/server/src/models/measurement.js
  packages/server/src/models/preference.js
  packages/server/src/models/series.js
  packages/server/src/models/user.js
  packages/server/src/types.d.ts
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#375 Feature/374
  packages/client/graphql_schema.json
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/pages/Preferences.re
  packages/server/migrations/201907100048001-renames-emails-column.js
  packages/server/src/models/preference.js
  packages/server/src/types/preferences.js
Labels: packages/client, packages/server

#378 Feature/353
  Dockerfile
  app.json
  packages/client/Dockerfile
  packages/server/Dockerfile
  packages/server/docker-compose.override.example.yml
  packages/server/migrations/201907110048001-template-measurable-state-upd.js
  packages/server/package-lock.json
  packages/server/package.json
  packages/server/src/async/consumers/consumer.js
  packages/server/src/async/consumers/consumer.spec.js
  packages/server/src/async/consumers/emails.js
  packages/server/src/async/consumers/emails.spec.js
  packages/server/src/async/consumers/index.spec.js
  packages/server/src/async/events.js
  packages/server/src/async/listeners.js
  packages/server/src/async/mailer.js
  packages/server/src/async/mailer.spec.js
  packages/server/src/async/measurables/reducer.js
  packages/server/src/async/producers/index.spec.js
  packages/server/src/async/producers/measurable-state.js
  packages/server/src/async/producers/measurable-state.spec.js
  packages/server/src/async/producers/producer.js
  packages/server/src/async/producers/producer.spec.js
  packages/server/src/data/preferences-data.js
  packages/server/src/lib/urls.js
  packages/server/src/mails/email-config.js
  packages/server/src/mails/email-config.spec.js
  packages/server/src/mails/mail-helper.js
  packages/server/src/mails/mail-helper.spec.js
  packages/server/src/mails/smtp-gateways.js
  packages/server/src/mails/smtp-gateways.spec.js
  packages/server/src/mails/transporter.js
  packages/server/src/mails/transporter.spec.js
  packages/server/src/models/classes/notifications/email-envelope.js
  packages/server/src/models/measurable.js
  packages/server/src/models/template.js
  packages/server/src/types.d.ts
  packages/server/yarn.lock
Labels: packages/server

#385 Feature/383
  packages/client/graphql_schema.json
  packages/client/src/App.re
  packages/client/src/AppApolloClient.re
  packages/client/src/Contexts.re
  packages/client/src/contexts/Auth.re
  packages/client/src/contexts/Auth0Client.re
  packages/client/src/contexts/Auth0Tokens.re
  packages/client/src/contexts/Context.re
  packages/client/src/contexts/Context__Auth.re
  packages/client/src/contexts/Context__Me.re
  packages/client/src/contexts/Context__QueryParams.re
  packages/client/src/contexts/Context__Routing.re
  packages/client/src/contexts/Jwt.re
  packages/client/src/contexts/KeyValuePairs.re
  packages/client/src/contexts/MeasurableQueryIndex.re
  packages/client/src/contexts/ServerJwt.re
  packages/client/src/graphql/Foretold__GraphQL__Authentication.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/layout/Layout__Component__Header.re
  packages/client/src/pages/Measurable/MeasurableIndex.re
  packages/client/src/pages/Measurable/MeasurableIndex__Components.re
  packages/client/src/pages/static/Login.re
  packages/client/src/utils/ApolloUtils.re
  packages/server/src/async/consumers/emails.js
  packages/server/src/async/producers/measurable-state.js
  packages/server/src/lib/urls.js
  packages/server/src/mails/email-config.js
  packages/server/src/resolvers/authentications.js
  packages/server/src/schema.js
  packages/server/src/types/measurables.js
Labels: packages/client, packages/server

#386 Feature/379
  packages/client/src/App.re
  packages/client/src/components/Foretold__Components__Ken.re
  packages/client/src/components/Foretold__Components__Link.re
  packages/client/src/components/Foretold__Components__Series.re
  packages/client/src/components/Foretold__Components__Series__Collection.re
  packages/client/src/contexts/Auth.re
  packages/client/src/contexts/Context.re
  packages/client/src/contexts/KeyValuePairs.re
  packages/client/src/contexts/Me.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Routing.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/layout/AgentTabs.re
  packages/client/src/layout/Agent_Layout.re
  packages/client/src/layout/Agent_Layout_C.re
  packages/client/src/layout/ChannelTabs.re
  packages/client/src/layout/Channel_Layout.re
  packages/client/src/layout/Channel_Layout_C.re
  packages/client/src/layout/Layout.re
  packages/client/src/layout/Layout__Component__Sidebar.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/pages/Agent/AgentBots.re
  packages/client/src/pages/Auth0Redirect.re
  packages/client/src/pages/Bots/BotForm.re
  packages/client/src/pages/Measurable/MeasurableEdit.re
  packages/client/src/pages/Measurable/MeasurableNew.re
Labels: packages/client

#387 Feature/320
  packages/client/graphql_schema.json
  packages/client/src/components/SLayout.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__GetAgent.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/layout/Agent_Layout_C.re
  packages/client/src/layout/Channel_Layout_C.re
  packages/client/src/pages/Profile.re
  packages/server/migrations/201907170048001-users-descriptions-column.js
  packages/server/src/models/user.js
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#390 Refactoring
  packages/client/src/App.re
  packages/client/src/E.re
  packages/client/src/HttpResponse.re
  packages/client/src/Index.re
  packages/client/src/Providers.re
  packages/client/src/contexts/Me.re
  packages/client/src/graphql/Foretold__GraphQL__Authentication.re
  packages/client/src/graphql/Foretold__GraphQL__ChannelGet.re
  packages/client/src/graphql/Foretold__GraphQL__ChannelGetMemberships.re
  packages/client/src/graphql/Foretold__GraphQL__GetAgents.re
  packages/client/src/graphql/Foretold__GraphQL__GetMeasurables.re
  packages/client/src/graphql/Foretold__GraphQL__GetMeasurablesStateStats.re
  packages/client/src/graphql/Foretold__GraphQL__GetSeriesCollection.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/graphql/Foretold__GraphQL__MeasurementsGet.re
  packages/client/src/layout/Channel_Layout.re
  packages/client/src/layout/Layout.re
  packages/client/src/layout/Pages.re
  packages/client/src/lib/PaginationReducerFunctor.re
  packages/client/src/pages/Channel/ChannelEdit.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/client/src/pages/Channel/ChannelInvite.re
  packages/client/src/pages/Channel/ChannelMembers.re
  packages/client/src/pages/Channel/ChannelNew.re
  packages/client/src/pages/Measurable/MeasurableIndex__Logic.re
  packages/client/src/pages/Redirecting.re
  packages/client/src/pages/Series/SeriesNew.re
Labels: packages/client

#391 wip Disables "email" input
  packages/client/src/pages/Profile.re
  packages/client/src/utils/Antd/AntdInput.re
Labels: packages/client

#392 Fixes building
  package.json
  packages/client/.babelrc
  packages/client/package.json
  packages/client/yarn.lock
Labels: packages/server

#393 Feature/388
  packages/client/graphql_schema.json
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/Foretold__GraphQL__GetAgent.re
  packages/client/src/graphql/Foretold__GraphQL__GetUser.re
  packages/client/src/layout/Agent_Layout_C.re
  packages/client/src/pages/Agent/AgentIndex.re
  packages/server/migrations/201907180048001-users-fixes-auth0-id-column.js
  packages/server/src/data/channels-data.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/measurements-data.js
  packages/server/src/data/series-data.js
  packages/server/src/data/users-data.js
  packages/server/src/lib/brier-score.js
  packages/server/src/lib/brier-score.spec.js
  packages/server/src/models-abstract/__mocks__/models-abstract.js
  packages/server/src/models-abstract/agent-model.js
  packages/server/src/models-abstract/channel-membership-model.js
  packages/server/src/models-abstract/measurable-model.js
  packages/server/src/models-abstract/measurement-model.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/models/user.js
  packages/server/src/resolvers/users.js
  packages/server/src/types.d.ts
  packages/server/src/types/users.js
Labels: packages/client, packages/server

#397 Improvements/381
  packages/client/src/utils/Antd/AntdDropdown.js
  packages/client/src/utils/Antd/AntdDropdown.re
  packages/client/src/utils/Antd/Antd_Dropdown.re
Labels: packages/client

#410 Improvements/359 3
  packages/client/Dockerfile
  packages/client/package.json
  packages/client/src/FC/Base/stats.js
  packages/client/src/FC/FC__MeasurableForm.re
  packages/client/src/components/Foretold__Components__Measurable__FullPresentation.re
  packages/client/src/components/Foretold__Components__Measurables.re
  packages/client/src/components/Foretold__Components__Measurables__SeriesTable.re
  packages/client/src/components/Table.re
  packages/client/src/layout/Agent_Layout_C.re
  packages/client/src/layout/Channel_Layout_C.re
  packages/client/src/layout/Layout__Component__FillWithSidebar.re
  packages/client/src/layout/Layout__Component__Header.re
  packages/client/src/layout/Layout__Component__Sidebar.re
  packages/client/src/lib/Icon.js
  packages/client/src/lib/cdfInput/CdfInput.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/client/src/pages/Measurable/MeasurableForm.re
  packages/client/src/pages/static/StaticStyles.re
  packages/client/yarn.lock
  packages/server/Dockerfile
  packages/server/package.json
  yarn.lock
Labels: client

#412 Fixes component name
  packages/client/src/components/TestJsx3.re
Labels: packages/client

#411 Feature/403
  packages/server/migrations/201907220048001-template-measurable-resolved.js
  packages/server/src/async/events.js
  packages/server/src/async/listeners.js
  packages/server/src/async/producers/index.js
  packages/server/src/async/producers/measurable-state-changed.js
  packages/server/src/async/producers/measurable-state-changed.spec.js
  packages/server/src/async/producers/measurable-state-resolved.js
  packages/server/src/async/producers/measurable-state-resolved.spec.js
  packages/server/src/async/producers/measurable-state.js
  packages/server/src/async/producers/measurable-state.spec.js
  packages/server/src/async/producers/producer.js
  packages/server/src/data/data-base.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/measurables-data.spec.js
  packages/server/src/data/measurements-data.js
  packages/server/src/data/measurements-data.spec.js
  packages/server/src/middlewares/measurables.js
  packages/server/src/middlewares/measurables.spec.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/models-abstract/model.js
  packages/server/src/models/classes/notifications/email-envelope.js
  packages/server/src/models/db.js
  packages/server/src/models/enums/template-name.js
  packages/server/src/models/hooks.js
  packages/server/src/models/index.js
  packages/server/src/models/init.js
  packages/server/src/resolvers/measurables.js
  packages/server/src/resolvers/measurables.spec.js
  packages/server/src/resolvers/measurements.js
  packages/server/src/resolvers/measurements.spec.js
Labels: packages/server

#415 Adds setter for min/max values of measurable
  packages/server/src/models/measurable.js
Labels: packages/server

#416 Feature/326 com tab
  packages/client/graphql_schema.json
  packages/client/src/App.re
  packages/client/src/components/C.re
  packages/client/src/components/ChannelTable.re
  packages/client/src/components/Foretold__Components__Channel.re
  packages/client/src/components/Foretold__Components__Link.re
  packages/client/src/components/Foretold__Components__Measurable__Items.re
  packages/client/src/components/Foretold__Components__Measurements__Table.re
  packages/client/src/components/Link.re
  packages/client/src/components/LinkType.re
  packages/client/src/components/SLayout.re
  packages/client/src/contexts/Routing.re
  packages/client/src/graphql/ChannelsGet.re
  packages/client/src/layout/Agent_Layout.re
  packages/client/src/layout/Agent_Layout_C.re
  packages/client/src/layout/Channel_Layout_C.re
  packages/client/src/layout/FillWithSidebar.re
  packages/client/src/layout/Footer.re
  packages/client/src/layout/Header.re
  packages/client/src/layout/Layout.re
  packages/client/src/layout/Layout__Dropdown.re
  packages/client/src/layout/Navigator.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/layout/Pages.re
  packages/client/src/layout/Sidebar.re
  packages/client/src/pages/Agent/AgentBots.re
  packages/client/src/pages/Agent/AgentCommunities.re
  packages/client/src/pages/Agent/AgentIndex.re
  packages/client/src/pages/Agent/AgentTabs.re
  packages/client/src/pages/Channel/ChannelEdit.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/client/src/pages/Channel/ChannelInvite.re
  packages/client/src/pages/Channel/ChannelMembers.re
  packages/client/src/pages/Channel/ChannelTabs.re
  packages/client/src/pages/Entity/EntityIndex.re
  packages/client/src/pages/Entity/EntityShow.re
  packages/client/src/pages/Measurable/MeasurableForm.re
  packages/client/src/pages/Measurable/MeasurableIndex__Components.re
  packages/client/src/pages/Series/SeriesNew.re
  packages/client/src/pages/static/Home.re
  packages/server/src/data/channels-data.js
  packages/server/src/data/channels-data.spec.js
  packages/server/src/data/classes/filter.js
  packages/server/src/data/classes/options.js
  packages/server/src/data/classes/pagination.js
  packages/server/src/data/data-base.js
  packages/server/src/middlewares/channels.js
  packages/server/src/middlewares/channels.spec.js
  packages/server/src/models-abstract/__mocks__/models-abstract.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/models-abstract/notification-model.js
  packages/server/src/resolvers/channels.js
  packages/server/src/resolvers/channels.spec.js
  packages/server/src/schema.js
  packages/server/src/types.d.ts
Labels: client, packages/server

#417 Feature/327
  packages/client/graphql_schema.json
  packages/client/src/components/ChannelTable.re
  packages/client/src/components/Foretold__Components__Measurables.re
  packages/client/src/components/MeasurementValue.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/ChannelCreate.re
  packages/client/src/graphql/ChannelUpdate.re
  packages/client/src/graphql/ChannelsGet.re
  packages/client/src/graphql/MeasurablesGet.re
  packages/client/src/graphql/UserGet.re
  packages/client/src/layout/Sidebar.re
  packages/client/src/pages/Channel/ChannelEdit.re
  packages/client/src/pages/Channel/ChannelForm.re
  packages/client/src/pages/Channel/ChannelIndex.re
  packages/client/src/pages/Channel/ChannelNew.re
  packages/client/src/pages/static/Login.re
  packages/client/src/pages/static/StaticPageInCard.re
  packages/server/src/data/classes/filter.js
  packages/server/src/resolvers/channels.js
  packages/server/src/schema.js
  packages/server/src/types.d.ts
  packages/server/src/types/channels.js
Labels: packages/client, packages/server

#418 Remove obsolete code
  packages/client/src/graphql/MeasurableUpdate.re
  packages/server/src/models/measurable.js
Labels: bug, packages/client

#420 Feature/409 2
  packages/client/src/graphql/ChannelsGet.re
  packages/client/src/layout/Sidebar.re
Labels: packages/client

#423 Feature/408
  packages/client/src/Lang.re
  packages/client/src/pages/Profile.re
  packages/client/src/utils/Antd/AntdAlert.re
  packages/client/src/utils/Utils.re
Labels: packages/client

#429 Bumps versions up
  packages/server/package.json
  packages/server/yarn.lock
Labels: packages/server

#431 Feature/402
  packages/server/migrations/201907290048001-template-added-to-community.js
  packages/server/migrations/201907300048001-channel-membership-add-column.js
  packages/server/src/async/events.js
  packages/server/src/async/listeners.js
  packages/server/src/async/producers/index.js
  packages/server/src/async/producers/member-added-to-community.js
  packages/server/src/async/producers/member-added-to-community.spec.js
  packages/server/src/async/producers/producer.js
  packages/server/src/data/channel-memberships-data.js
  packages/server/src/data/channel-memberships-data.spec.js
  packages/server/src/lib/urls.js
  packages/server/src/models/channel-membership.js
  packages/server/src/models/enums/template-name.js
  packages/server/src/models/hooks.js
  packages/server/src/resolvers/channel-memberhips.js
  packages/server/src/resolvers/channel-memberhips.spec.js
Labels: packages/server

#432 Improvements/322
  packages/client/src/App.re
  packages/client/src/AppApolloClient.re
  packages/client/src/FC/FC__Footer.re
  packages/client/src/Lang.re
  packages/client/src/Providers.re
  packages/client/src/Redirect.re
  packages/client/src/graphql/Authentication.re
  packages/client/src/graphql/SeriesGet.re
  packages/client/src/graphql/UserUpdate.re
  packages/client/src/layout/Navigator.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/layout/Pages.re
  packages/client/src/lib/Contexts.re
  packages/client/src/pages/Measurable/MeasurableEdit.re
  packages/client/src/pages/Measurable/MeasurableForm.re
  packages/client/src/pages/Measurable/MeasurableNew.re
  packages/client/src/pages/Redirecting.re
Labels: packages/client

#438 Feature/414
  packages/server/migrations/201907300048002-table-invitations.js
  packages/server/migrations/201907300048003-template-invitation.js
  packages/server/migrations/201907310948002-invitation-constraints.js
  packages/server/src/async/events.js
  packages/server/src/async/listeners.js
  packages/server/src/async/producers/index.js
  packages/server/src/async/producers/member-added-to-community.js
  packages/server/src/async/producers/member-invited-to-community.js
  packages/server/src/async/producers/member-invited-to-community.spec.js
  packages/server/src/async/producers/member-to-community.js
  packages/server/src/async/producers/member-to-community.spec.js
  packages/server/src/authorizers/permissions.js
  packages/server/src/data/authentication-data.js
  packages/server/src/data/bots-data.js
  packages/server/src/data/channel-memberships-data.js
  packages/server/src/data/channel-memberships-data.spec.js
  packages/server/src/data/channels-data.js
  packages/server/src/data/channels-data.spec.js
  packages/server/src/data/index.js
  packages/server/src/data/invitations-data.js
  packages/server/src/data/invitations-data.spec.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/measurements-data.js
  packages/server/src/data/preferences-data.js
  packages/server/src/data/series-data.js
  packages/server/src/data/tokens-data.js
  packages/server/src/data/users-data.js
  packages/server/src/middlewares/channel-memberships.js
  packages/server/src/middlewares/channel-memberships.spec.js
  packages/server/src/middlewares/index.js
  packages/server/src/models-abstract/__mocks__/models-abstract.js
  packages/server/src/models-abstract/index.js
  packages/server/src/models-abstract/invitation-model.js
  packages/server/src/models-abstract/invitation-model.spec.js
  packages/server/src/models/__mocks__/index.js
  packages/server/src/models/bot.js
  packages/server/src/models/classes/foretold-auth-id.js
  packages/server/src/models/enums/invitation-status.js
  packages/server/src/models/enums/template-name.js
  packages/server/src/models/hooks.js
  packages/server/src/models/init.js
  packages/server/src/models/invitation.js
  packages/server/src/models/measurable.js
  packages/server/src/models/measurement.js
  packages/server/src/models/series.js
  packages/server/src/models/user.js
  packages/server/src/resolvers/channel-memberhips.js
  packages/server/src/resolvers/channel-memberhips.spec.js
  packages/server/src/resolvers/index.js
  packages/server/src/resolvers/invitations.js
  packages/server/src/resolvers/invitations.spec.js
  packages/server/src/schema.js
  packages/server/src/types.d.ts
  packages/server/src/types/enums/invitation-status.js
  packages/server/src/types/enums/invitation-status.spec.js
  packages/server/src/types/index.js
  packages/server/src/types/invitations.js
  packages/server/src/types/invitations.spec.js
Labels: packages/server
