Repository foretold-app/foretold, pull requests merged in 2019-10, with the labels that each got.

#720 Improvements/443
  .slugignore
  docker-compose.yml
  package.json
  packages/client/bsconfig.json
  packages/client/package.json
  packages/client/src/components/KenTools.re
  packages/client/src/components/MeasurableEntityLinks.re
  packages/client/src/components/MeasurableItems.re
  packages/client/src/lib/ken/AlternativeGraphFormats/SimpleFactList_T.re
  packages/client/src/lib/ken/AlternativeGraphFormats/SimpleFactList_ToGraph.re
  packages/client/src/lib/ken/Compiler/Compiler_AST.re
  packages/client/src/lib/ken/Compiler/Compiler_Run.re
  packages/client/src/lib/ken/Compiler/IdConverter.re
  packages/client/src/lib/ken/Graph/Fact_List_Bundle.re
  packages/client/src/lib/ken/Graph/Graph_Dirs.re
  packages/client/src/lib/ken/Graph/Graph_Fact.re
  packages/client/src/lib/ken/Graph/Graph_Fact_Filters.re
  packages/client/src/lib/ken/Graph/Graph_Fact_Query.re
  packages/client/src/lib/ken/Graph/Graph_Graph.re
  packages/client/src/lib/ken/Graph/Graph_T.re
  packages/client/src/lib/ken/Graph/Graph_Value.re
  packages/client/src/lib/ken/Importers/CompressedImporter/CompressedImporter__FromJson.re
  packages/client/src/lib/ken/Importers/CompressedImporter/CompressedImporter__T.re
  packages/client/src/lib/ken/Importers/CompressedImporter/CompressedImporter__ToSimpleFactList.re
  packages/client/src/lib/ken/JS/Ken_Converter.re
  packages/client/src/lib/ken/JS/Ken_Interface.re
  packages/client/src/lib/ken/JS/index.js
  packages/client/src/lib/ken/Ken_Config.re
  packages/client/src/lib/ken/Ken_Utility.re
  packages/client/src/pages/entities/EntityIndex.re
  packages/client/src/pages/entities/EntityShow.re
  packages/client/yarn.lock
  packages/server/.env.example
  packages/server/package.json
  packages/server/src/data/data-base.js
  packages/server/src/data/global-settings-data.js
  packages/server/src/enums/template-name.js
  packages/server/src/graphql/schema.js
  packages/server/src/lib/ken-facade.js
  packages/server/src/models/measurable.js
  packages/server/src/sync/producers/feed-items/producer-feed-items.js
  packages/server/src/sync/producers/notifications/index.js
  packages/server/src/sync/producers/notifications/member-invited-to-community.js
  packages/server/src/sync/producers/notifications/member-invited-to-community.spec.js
  packages/server/src/sync/producers/notifications/producer-notifications.js
  packages/server/src/sync/schedule.js
  packages/server/yarn.lock
Labels: client, packages/server, 🕷bug

#726 Agent link
  packages/client/src/components/AgentLink.re
  packages/client/src/components/LeaderboardTable.re
  packages/client/src/components/MeasurementsTable.re
  packages/client/src/contexts/Primary.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/measurables/MeasurableGet2.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/client/src/layout/SLayout.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/agents/AgentCommunities.re
  packages/client/src/pages/agents/AgentScores.re
  packages/client/src/pages/agents/Agent_Layout.re
  packages/client/src/pages/channels/ChannelAddMember.re
  packages/client/src/pages/channels/ChannelEdit.re
  packages/client/src/pages/channels/ChannelMembers.re
  packages/components/example/Example/ExampleFullPage.re
  packages/components/example/Example/Example__AppGroupHeader.re
  packages/components/example/Example/Example__CardMeasurableMeasurements.re
  packages/components/example/Example/Example__MeasurableIndexPage.re
  packages/components/example/Example/Example__MeasurableTopCard.re
  packages/components/example/Example/Example__MemberTableCard.re
  packages/components/example/index.html
  packages/components/showcase/Entries.re
  packages/components/showcase/entries/Showcase_AgentLink.re
  packages/components/src/Base/FC__Div.re
  packages/components/src/Base/FC__Link.re
  packages/components/src/BotDefaultImage.re
  packages/components/src/FC__AgentLink.re
  packages/components/src/FC__AppHeader.re
  packages/components/src/FC__GroupHeader.re
  packages/components/src/FC__MeasurableForm.re
  packages/components/src/FC__PageCard.re
  packages/components/src/FC__Table.re
  packages/components/src/SubmenuElements/FC__Tab.re
  packages/components/src/SubmenuElements/FC__Tab2.re
Labels: packages/client

#727 Feature/698 2
  packages/client/src/components/AgentLink.re
  packages/client/src/components/MeasurementsTable.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/agents/AgentsGet.re
  packages/client/src/graphql/bots/BotsGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/components/package.json
  packages/components/showcase/entries/Showcase_AgentLink.re
  packages/prediction-analysis/dist/index.js
Labels: packages/client

#730 Feature/436 2
  packages/client/src/App.re
  packages/client/src/components/TestJsx3.re
  packages/client/src/components/VerificationWarning.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/users/UserGet.re
  packages/client/src/layout/Header.re
  packages/client/src/lib/Icon.js
  packages/server/src/data/authentication-data.js
  packages/server/src/data/authentication2-data.js
  packages/server/src/data/authentication2-data.spec.js
  packages/server/src/data/classes/authentication-errors.js
  packages/server/src/data/index.js
  packages/server/src/data/users-data.js
  packages/server/src/graphql/authentication.js
  packages/server/src/graphql/authentication.spec.js
  packages/server/src/graphql/resolvers/authentications.js
  packages/server/src/graphql/schema.js
  packages/server/src/graphql/types/users.js
  packages/server/src/models/hooks.js
Labels: packages/client, packages/server

#738 Adds migration to extend "users pictures" field length
  packages/server/migrations/201910071335000-users-picture.js
Labels: packages/server

#739 Improvements/728
  packages/client/src/components/Measurable.re
  packages/client/src/components/MeasurableItems.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/agents/AgentGet.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/agents/AgentsGet.re
  packages/client/src/graphql/bots/BotsGet.re
  packages/client/src/graphql/channels/ChannelMembershipsGet.re
  packages/client/src/graphql/measurables/MeasurableGet.re
  packages/client/src/graphql/measurables/MeasurableGet2.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/client/src/pages/Measurements.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/agents/AgentTabs.re
  packages/client/src/pages/agents/Agent_Layout.re
  packages/client/src/pages/channels/ChannelMembers.re
  packages/client/src/pages/measurables/MeasurableEdit.re
Labels: packages/client

#740 Feature/712
  packages/server/package.json
  packages/server/src/config.js
  packages/server/src/index.js
  packages/server/src/sync/index.js
Labels: packages/server

#741 Updates refetch queries list
  packages/client/src/graphql/PreferenceUpdate.re
Labels: packages/client

#744 Fixes too much redirecting
  .dockerignore
  Application.md
  packages/client/.netlifyk
  packages/client/Dockerfile
  packages/client/_redirects
  packages/client/package.json
  packages/client/webpack.config.js
  packages/server/src/index.js
Labels: packages/server, 🕷bug

#748 Improvements/735
  packages/client/src/layout/Navigator.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/layout/Pages.re
  packages/client/src/pages/Profile.re
  packages/client/src/utils/Antd/Form.re
Labels: packages/client

#749 Removes obsolete Docker Compose files
  packages/bots/Dockerfile
  packages/bots/docker-compose.override.example.yml
  packages/bots/docker-compose.yml
  packages/client/Dockerfile
  packages/client/docker-compose.override.example.yml
  packages/client/docker-compose.yml
  packages/server/DEPLOYMENT.md
  packages/server/Dockerfile
  packages/server/MANIFEST.md
  packages/server/docker-compose.override.example.yml
  packages/server/docker-compose.yml
  packages/server/todo.md
Labels: 🚀enhancement

#750 Adds user by email if he exists
  packages/client/src/_redirects
  packages/server/src/data/authentication2-data.js
  packages/server/src/data/classes/authentication-errors.spec.js
  packages/server/src/data/classes/filter.js
  packages/server/src/data/classes/index.js
  packages/server/src/data/classes/index.spec.js
  packages/server/src/data/classes/params.js
  packages/server/src/data/classes/structures.js
  packages/server/src/data/classes/structures.spec.js
  packages/server/src/data/data-base.js
  packages/server/src/data/invitations-data.js
  packages/server/src/data/users-data.js
  packages/server/src/graphql/middlewares/init-context.spec.js
  packages/server/src/graphql/resolvers/agent-measurables.js
  packages/server/src/graphql/resolvers/channels.js
  packages/server/src/graphql/resolvers/feed-items.js
  packages/server/src/graphql/resolvers/measurables.js
  packages/server/src/graphql/resolvers/measurements.js
  packages/server/src/graphql/types/connections.spec.js
  packages/server/src/graphql/types/enums/agent-type.spec.js
  packages/server/src/graphql/types/enums/channel-membership-roles-output.spec.js
  packages/server/src/graphql/types/enums/channel-membership-roles.spec.js
  packages/server/src/lib/ken-facade.spec.js
  packages/server/src/models-abstract/model-postgres.js
  packages/server/src/sync/producers/notifications/invitation.spec.js
  packages/server/src/types.d.ts
Labels: packages/server

#757 Adds intercom js
  docker-compose.override.example.yml
  docker-compose.yml
  packages/client/package.json
  packages/client/src/App.re
  packages/client/src/AppApolloClient.re
  packages/client/src/Index.re
  packages/client/src/Providers.re
  packages/client/src/components/Intercom.re
  packages/client/src/contexts/Me.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/env.js
  packages/client/src/graphql/PreferenceUpdate.re
  packages/client/src/graphql/users/UserGet.re
  packages/client/src/graphql/users/UserUpdate.re
  packages/client/src/index.html
  packages/client/src/lib/intercom.js
  packages/client/src/pages/series/SeriesNew.re
  packages/client/src/utils/Env.re
  packages/server/src/config.js
  packages/server/src/index.js
Labels: packages/client

#766 Improvements/758
  packages/client/src/components/Intercom.re
  packages/client/src/contexts/Primary.re
  packages/client/src/graphql/users/UserGet.re
  packages/client/src/lib/intercom.js
Labels: packages/client

#767 Feature/752 bots pictures
  packages/client/graphql_schema.json
  packages/client/src/components/AgentLink.re
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/agents/AgentGet.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/agents/AgentsGet.re
  packages/client/src/graphql/bots/BotCreateMutation.re
  packages/client/src/graphql/bots/BotGet.re
  packages/client/src/graphql/bots/BotUpdate.re
  packages/client/src/graphql/bots/BotsGet.re
  packages/client/src/graphql/channels/ChannelMembershipsGet.re
  packages/client/src/graphql/measurables/MeasurableGet.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/client/src/pages/agents/AgentBots.re
  packages/client/src/pages/bots/BotCreate.re
  packages/client/src/pages/bots/BotEdit.re
  packages/client/src/pages/bots/BotForm.re
  packages/server/migrations/201910151036000-bots-picture.js
  packages/server/src/graphql/types/bots.js
  packages/server/src/models/bot.js
  packages/server/src/models/user.js
Labels: packages/client

#768 Feature/593
  packages/client/graphql_schema.json
  packages/client/src/contexts/Primary.re
  packages/client/src/contexts/Types.re
  packages/client/src/graphql/FeedItemsGet.re
  packages/client/src/graphql/agents/AgentChannelsGet.re
  packages/client/src/graphql/agents/AgentMeasurablesGet.re
  packages/client/src/graphql/measurables/MeasurablesGet.re
  packages/client/src/graphql/measurements/MeasurementsGet.re
  packages/client/src/lib/PaginationFunctor.re
  packages/prediction-analysis/src/JsExport/JsInterface.gen.js
  packages/server/package.json
  packages/server/src/graphql/types/channels.js
  packages/server/src/graphql/types/common.js
  packages/server/src/graphql/types/connections.js
  packages/server/src/graphql/types/connections.spec.js
  packages/server/src/graphql/types/index.js
  packages/server/src/graphql/types/measurables.js
  packages/server/src/graphql/types/scalars/cursor.js
  packages/server/src/graphql/types/scalars/index.js
  packages/server/src/graphql/types/scalars/jwt.js
  packages/server/src/graphql/types/scalars/jwt.spec.js
  packages/server/src/graphql/types/series.js
  packages/server/yarn.lock
Labels: packages/client

#769 Feature/481
  Application.md
  app.json
  docker-compose.override.example.yml
  docker-compose.yml
  package.json
  packages/server/config/google.json
  packages/server/config/log.js
  packages/server/config/log.spec.js
  packages/server/package.json
  packages/server/src/data/agent-measurables-data.js
  packages/server/src/data/global-settings-data.js
  packages/server/src/data/measurables-data.js
  packages/server/src/graphql/authorizers/agents.js
  packages/server/src/graphql/authorizers/bots.js
  packages/server/src/graphql/authorizers/channel-memberships.js
  packages/server/src/graphql/authorizers/channels.js
  packages/server/src/graphql/authorizers/measurables.js
  packages/server/src/graphql/authorizers/preferences.js
  packages/server/src/graphql/authorizers/users.js
  packages/server/src/graphql/middlewares/bots.js
  packages/server/src/graphql/middlewares/channel-memberships.js
  packages/server/src/graphql/middlewares/channels.js
  packages/server/src/graphql/middlewares/init-context.js
  packages/server/src/graphql/middlewares/measurables.js
  packages/server/src/graphql/middlewares/preferences.js
  packages/server/src/graphql/middlewares/users.js
  packages/server/src/graphql/resolvers/measurements.js
  packages/server/src/index.js
  packages/server/src/jest-globals.js
  packages/server/src/lib/github/trigger.js
  packages/server/src/lib/log/__mocks__/index.js
  packages/server/src/lib/log/index.js
  packages/server/src/lib/log/index.spec.js
  packages/server/src/lib/mails/mail-helper.js
  packages/server/src/lib/mails/transporter.js
  packages/server/src/lib/slack.js
  packages/server/src/models/db.js
  packages/server/src/models/hooks.js
  packages/server/src/models/init.js
  packages/server/src/sync/actions/user-updater.js
  packages/server/src/sync/consumers/emails.js
  packages/server/src/sync/jobs.js
  packages/server/src/sync/listeners.js
  packages/server/src/sync/producers/feed-items/producer-feed-items.js
  packages/server/src/sync/producers/notifications/invitation.js
  packages/server/src/sync/producers/notifications/measurable-state-changed.js
  packages/server/src/sync/producers/notifications/measurable-state-resolved.js
  packages/server/src/sync/producers/notifications/member-to-community.js
  packages/server/yarn.lock
Labels: packages/server

#781 Logged Out Users
  app.json
  packages/client/src/App.re
  packages/client/src/Providers.re
  packages/client/src/Redirect.re
  packages/client/src/components/CheckSession.re
  packages/client/src/components/Intercom.re
  packages/client/src/components/Measurable.re
  packages/client/src/components/MeasurementForm.re
  packages/client/src/components/MeasurementsTable.re
  packages/client/src/components/VerificationWarning.re
  packages/client/src/contexts/Routing.re
  packages/client/src/contexts/Types.re
  packages/client/src/layout/FillWithSidebar.re
  packages/client/src/layout/Header.re
  packages/client/src/layout/Navigator.re
  packages/client/src/layout/PageConfig.re
  packages/client/src/layout/Pages.re
  packages/client/src/layout/Sidebar.re
  packages/client/src/lib/cdfInput/CdfInput.re
  packages/client/src/pages/Measurements.re
  packages/client/src/pages/Preferences.re
  packages/client/src/pages/Profile.re
  packages/client/src/pages/agents/AgentIndex.re
  packages/client/src/pages/agents/AgentMeasurables.re
  packages/client/src/pages/agents/AgentNavigation.re
  packages/client/src/pages/bots/BotCreate.re
  packages/client/src/pages/bots/BotEdit.re
  packages/client/src/pages/bots/BotForm.re
  packages/client/src/pages/channels/Channel.re
  packages/client/src/pages/channels/ChannelAddMember.re
  packages/client/src/pages/channels/ChannelEdit.re
  packages/client/src/pages/channels/ChannelInviteMember.re
  packages/client/src/pages/channels/ChannelMeasurable.re
  packages/client/src/pages/channels/ChannelNavigation.re
  packages/client/src/pages/channels/ChannelNew.re
  packages/client/src/pages/channels/ChannelTabs.re
  packages/client/src/pages/entities/EntityIndex.re
  packages/client/src/pages/entities/EntityShow.re
  packages/client/src/pages/measurables/MeasurableBottomSection.re
  packages/client/src/pages/measurables/MeasurableEdit.re
  packages/client/src/pages/measurables/MeasurableForm.re
  packages/client/src/pages/measurables/MeasurableIndex.re
  packages/client/src/pages/measurables/MeasurableIndex__Components.re
  packages/client/src/pages/measurables/MeasurableIndex__Logic.re
  packages/client/src/pages/measurables/MeasurableNew.re
  packages/client/src/pages/series/SeriesNew.re
  packages/client/src/pages/series/SeriesShow.re
  packages/server/src/data/agent-channels-data.js
  packages/server/src/data/agent-measurables-data.js
  packages/server/src/data/channel-memberships-data.js
  packages/server/src/data/channels-data.js
  packages/server/src/data/measurables-data.js
  packages/server/src/data/tokens-data.js
  packages/server/src/graphql/authentication.js
  packages/server/src/graphql/middlewares/channel-memberships.js
  packages/server/src/graphql/resolvers/feed-items.js
  packages/server/src/lib/github/git-hub-api.js
  packages/server/src/models-abstract/channel-model.js
  packages/server/src/models-abstract/model-postgres.js
Labels: packages/client

#785 Communities, Log In links in the header
  packages/client/src/layout/FillWithSidebar.re
  packages/client/src/layout/Header.re
  packages/client/src/layout/Sidebar.re
Labels: packages/client

#775 Adds google analysis code
  packages/client/src/index.html
  packages/client/src/lib/google.js
Labels: packages/client

#795 Freezes platform version
  package.json
  packages/client/package.json
  packages/server/package.json
Labels: 🕷bug

#802 Feature/801 slack notifications
  packages/server/package.json
  packages/server/src/sync/actions/notifications.js
  packages/server/src/sync/listeners.js
  packages/server/src/sync/schedule.js
Labels: packages/server

#804 Adds "defer" option for "lib/google.js" file
  packages/client/src/index.html
  packages/client/src/lib/google.js
Labels: packages/client, 🕷bug
